.margin-xxlarge.admin
  .row.expanded
    .small-12.large-2.columns
      ul.menu.vertical
      li
        a(href="#/admin/content") مدیریت مطالب
      li
        a(href="#/admin/link") مدیریت لینک ها
      li
        a(href="#") مدیریت نظرات
      li
        a(href="#/admin/profile") ویرایش اطلاعات شخصی
    .small-12.large-10.columns
      img(src='assets/images/admin/administrator.png')
