.margin-xxlarge.admin
  .row.expanded
    .small-12.large-2.columns
      ul.menu.vertical
      li
        a(href="#") One
      li
        a(href="#") Two
      li
        a(href="#") Three
      li
      a(href="#") Four
    .small-12.large-10.columns
