.admin.row.expanded
  .small-12.large-3.columns.no-padding
    h4 پنل مدیریت 
    ul.menu.vertical
      li
        a(href='')
          i.fa.fa-file-text
            span مدیریت مطالب
          ul.content
            li 
              a(href="#/admin/addcontent")
                i.fa.fa-plus
                  span افزودن خبر
            li 
              a(href="#/admin/editcontent")
                i.fa.fa-pencil
                  span ویرایش خبر

      li
        a(href="#/admin/link")
          i.fa.fa-link
            span مدیریت لینک ها
      li
        a(href="#/admin/comment")
          i.fa.fa-comments
            span مدیریت نظرات
            span(id="admincountcomment", style="background: red;padding: 5px;color: #fff;") {{AdminViewModel.allCommentConfirm}}
      li
        a(href="#/admin/visitor")
          i.fa.fa-eye
            span مدیریت بازدیدکنندگان
      li 
        a(href="#/admin/profile")
          i.fa.fa-graduation-cap
            span ویرایش اطلاعات شخصی
      li 
        a(href="#/admin/filemanager")
          i.fa.fa-graduation-cap
            span مدیریت تصاویر
  
  .small-12.large-9.columns.no-padding
    div(ui-view='')