.margin-xxlarge.admin
  .row.expanded
    .small-12.large-2.columns

      h5 پنل مدیریت 
      ul.menu.vertical
        li
          i.fa.fa-file-text
            a(href="#/admin/content") مدیریت مطالب
        li
          i.fa.fa-link
            a(href="#/admin/link") مدیریت لینک ها
        li
          i.fa.fa-comments
            a(href="#") مدیریت نظرات
        li
          i.fa.fa-graduation.cap
            a(href="#/admin/profile") ویرایش اطلاعات شخصی
    .small-12.large-1.columns
      p &nbsp;
    .small-12.large-8.columns
      img(src='assets/images/admin/administrator.png')
    .small-12.large-1.columns
      p &nbsp;
