div
  h6 حذف فولدر
  hr(size=1)
  form
    label(for='remove') از حذف فولدر مورد نظر اطمینان دارید؟ 
    label(for='remove') در صورت حذف، تمامی فولدر ها و فایل های مرتبط با فولدر مورد نظر حذف می گردند.

    button.button(ng-click='FileManagerRemoveFolderViewModel.removeFolder()') حذف فولدر