.home
  div(ng-if='HomeViewModel.leads.length==0')
    .padding-xxlarge.margin-xxlarge
      .row.expanded
        .small-8.small-centered.columns
          div(style="margin-top: 100px;")
            .row
              .small-12.large-4.columns
                div
                  img(src="/assets/images/dashboard/Rocket.png")
              .small-12.large-8.columns
                div.text-right
                  p.text-primary.font-xlarge.padding-toolarge-right(style="border-right: 1px solid #ccc") سرنخ
                  ul سرنخ ها نقطه آغازین فرآیند جذب مشتری برای شرکت شما هستند. شما می توانید با ورود اطلاعات اولیه از یک سرنخ، در مراحل بعدی آن را به یک مشتری بالقوه تبدیل کنید.
                    li.text-primary
                      i.fa.fa-bars
                      span.text-black فرم های اینترنتی
                    li.text-primary
                      span.text-black فرم های دستی
                    li.text-primary
                      span.text-black سالنامه ها
                    li.text-primary
                      span.text-black ...
                  div
                    button.button.primary.text-white.margin-medium-left(
                      ng-click="HomeViewModel.redirect()") سرنخ جدید
                    button.button.primary.text-white(
                      ng-click="") بارگذاری

  div(ng-if='HomeViewModel.leads.length>0')
     datagrid(dataset="HomeViewModel.dataset",
        actions-list="", title="سرنخ های عمومی")