.margin-xxlarge.home
  .row.expanded
    .small-12.columns
        div(ng-repeat='news in news')
          div.news-box
            .row
              .small-12.columns       
                h5
                  i.fa.fa-check-square(aria-hidden=true)
                  span {{news.subject}}
            .row
              .small-12.large-6.columns
                br
                small گروه {{news.categoryName}}
              .small-12.large-6.columns
                small.float-left {{news.submitDate}}
                br
                small.float-left {{news.authorName}}
            br
            .row
              .small-12.columns
                p {{news.body | htmlToPlaintext | limitTo:400}}
            .row
              small(ng-repeat='label in news.labels') برچسب ها : 
                span {{label.name}} ,
            br    

            .row
              .small-12.columns
                button.button.primary(type='button',ng-click='HomeViewModel.redirect(news.id)',target='_blank') ادامه مطلب

