.margin-xxlarge.home
  .row.expanded
    .small-12.columns
        div(ng-repeat='news in HomeViewModel.news')
          div.news-box
            .row
              .small-12.large-6.columns       
                h5
                  i.fa.fa-check-square(aria-hidden=true)
                    span {{news.subject}}
              .small-12.large-6.columns
                small.float-left {{news.submitDate}}
                br
                small.float-left {{news.authorName}}
            .row
              .small-12.columns
                p {{news.body | htmlToPlaintext | limitTo:200}}

            .row
              .small-12.columns
                button.button.primary(type='button',ng-click='HomeViewModel.redirect(news.id)') ادامه مطلب

