.recent-articles.margin-xxlarge
    .title
        div
            h5 مطالب اخیر
        hr
    .content
        ul
            li(ng-repeat='article in RecentArticlesViewModel.articles')
                a(href='#')
                    span {{article.subject}}