.recent-articles.margin-xxlarge
    .title
        div
            h5 مطالب اخیر
        hr
    .content
        ul
            li ارزیابی عملکرد با دفتر خاطرات
            li دوره های یادگیری نرم افزار