.row.expanded.recent-articles
    .small-12.large-2.columns
        .title
            div
                h5 مطالب اخیر
            hr
        .content
            ul
                li ارزیابی عملکرد با دفتر خاطرات
                li دوره های یادگیری نرم افزار