.contactus
  .row.expanded
    .small-12.large-6.columns
      div
        a(href='https://t.me/joinchat/AAAAAApVGtkBUuosh1Pv_w')
          img(src='assets/images/contact-us/telegram-group.png')
        small آدرس گروه تلگرام
        br
        small https://t.me/joinchat/AAAAAApVGtkBUuosh1Pv_w
      div
        a(href='https://www.linkedin.com/in/abbas-moghadasi-38b85183/')
          img(src='assets/images/contact-us/Linkedin.png')
        small آدرس لینکدین
        br
        small https://www.linkedin.com/in/abbas-moghadasi-38b85183/
      div
        a(href='https://t.me/AbbassMoghadasi')
          img(src='assets/images/contact-us/telegram.png')
        small آدرس تلگرام
        br
        small https://t.me/AbbassMoghadasi
      div
        a(href='https://www.facebook.com/عباس-مقدسی-750930048335637/?ref=aymt_homepage_panel')
          img(src='assets/images/contact-us/facebook.png')
        small آدرس فیسبوک
        br
        small https://www.facebook.com/عباس-مقدسی-750930048335637/?ref=aymt_homepage_panel
      div
        a(href='')
          img(src='assets/images/contact-us/gmail.png')
        small آدرس ایمیل
        br
        small Moghadasi.tkd@gmail.com
      div
        a(href='Andyshehbartar.mihanblog.com')
          img(src='assets/images/contact-us/Blog.png')
        small آدرس وبلاگ
        br
        small Andyshehbartar.mihanblog.com
    .small-12.large-6.columns
      img.contact-img(src='assets/images/contact-us/contact.png')
     
