


.visitorAdmin
  .row
    .small-12.columns
      p &nbsp;
  .row
    .small-12.large-12.columns
      table.table.text-center.table-striped(st-table='VisitorViewModel.visitors')
        thead
        tr
            th کل بازدید
            th بازدید امروز
            th بازدید دیروز
            th بازدید این ماه 
            th بازدید ماه قبل
            th تعداد کل پست ها 
            th زمان آخرین بازدید
            th زمان آخرین پست
        tbody
        tr.body(ng-model='VisitorViewModel.visitors')
          td {{VisitorViewModel.visitors.allViewer}}
          td {{VisitorViewModel.visitors.todayViewer}}
          td {{VisitorViewModel.visitors.yesterDayViewer}}
          td {{VisitorViewModel.visitors.currentMonthViewer}}
          td {{VisitorViewModel.visitors.previousMonthViewer}}
          td {{VisitorViewModel.visitors.countNews}}
          td {{VisitorViewModel.visitors.lastView}}
          td {{VisitorViewModel.visitors.lastEdit}}
  //- angular-chart(options="VisitorViewModel.options" ,instance="VisitorViewModel.instance")
  .row(ng-if="VisitorViewModel.chart")
    canvas(class="chart chart-line", chart-data="VisitorViewModel.data", chart-labels="VisitorViewModel.labels",
    chart-series="VisitorViewModel.series", chart-click="VisitorViewModel.onClick") 
