.archive.margin-xxlarge
    .title
        div
            h5 آرشیو
        hr
    .content
        ul
            
            li(ng-repeat='item in ArchiveViewModel.archive')
                a(ng-click='ArchiveViewModel.search(item.value)') {{item.key}}
                