.profile.margin-xxlarge
    .pic
        img.center-block(src='assets/images/avatar/author.jpg')
    .data
        h6 نویسنده : عباس مقدسی
        hr
        p کارشناس ارشد کنترل  پروژه از دانشگاه اصفهان