.profile.margin-xxlarge
    .pic
        img.center-block(src='http://server.abbasmoghadasi.com/Uploads/{{ProfileViewModel.pic}}')
    .data
        h6 نویسنده : عباس مقدسی
        hr
        p {{ProfileViewModel.introduction}}