.profile
    background-color: #fff
    .pic
        width: 80%
        height: 30%
        margin: 0 auto 10px
        top: 10px
        position: relative
        overflow: hidden

    .data
        padding: 0 10px 0 10px