.padding-xxlarge.margin-xxlarge.profile
  .row.expanded
    .small-12.columns
      div
        span متن درباره ما
        textarea(ui-tinymce="ProfileViewModel.tinymceOptions", ng-model="ProfileViewModel.body")
