.version.index /* version checker */
{
	color: #000015;
	background-color: #0E6DC7;
}

#page
{
	z-index: 1;
	min-height: 751px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu94
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 17.71%;
}

#u100
{
	position: absolute;
	background-color: transparent;
}

#u100popup
{
	z-index: 3;
}

#u105
{
	z-index: 4;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u221
{
	z-index: 6;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u241
{
	z-index: 8;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u261
{
	z-index: 10;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#buttonu386
{
	z-index: 12;
	border-color: #787878;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	width: 16.39%;
	left: 8.96%;
}

#buttonu386:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	min-height: 0px;
	width: 16.39%;
	margin: 455px -10000px 0px 0%;
}

#buttonu386.ButtonSelected
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	min-height: 0px;
	width: 16.39%;
	margin: 455px -10000px 0px 0%;
}

#buttonu386_position_content
{
	padding-bottom: 7px;
	width: 100%;
}

#u289
{
	z-index: 13;
	background-color: transparent;
	position: relative;
	width: 97.46%;
	margin-left: 1.28%;
}

#buttonu386:hover #u289
{
	min-height: 0px;
	width: 97.46%;
	margin: 0px 0px 0px 1.2711864406779663%;
}

#buttonu386.ButtonSelected #u289
{
	min-height: 0px;
	width: 97.46%;
	margin: 0px 0px 0px 1.2711864406779663%;
}

#u420-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	margin-top: 17px;
	position: relative;
	width: 100%;
}

#u578
{
	z-index: 20;
	vertical-align: top;
	margin-top: 28px;
	position: relative;
	width: 67.38%;
	margin-left: 38.56%;
}

#u578 .fluid_height_spacer
{
	padding-bottom: 75.47169811320755%;
}

#buttonu386:hover #u578
{
	background: transparent url("../images/u578-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u303
{
	z-index: 40;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	width: 7.71%;
	left: 38.96%;
}

#u521-6
{
	display: block;
	vertical-align: top;
	position: relative;
	left: -50%;
	margin-left: 137px;
	width: 100%;
	max-width: 274px;
}

#u521-6-wrapper
{
	position: fixed;
	bottom: 20px;
	z-index: 50;
	left: 50%;
	margin-left: -137px;
	width: 19.03%;
	max-width: 274px;
}

#pu409-8
{
	margin-right: -10000px;
	margin-top: 123px;
	width: 22.71%;
	margin-left: 41.81%;
}

#u409-8
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	width: 72.18%;
	margin-left: 27.83%;
}

#pbuttonu362
{
	margin-top: 219px;
	width: 72.48%;
}

#buttonu362
{
	z-index: 22;
	border-color: #787878;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	border-radius: 10px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 100%;
}

#u281
{
	z-index: 23;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.3s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0.3s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	width: 65.83%;
	margin-left: 16.88%;
}

#buttonu362.ButtonSelected #u281
{
	min-height: 0px;
	width: 65.83%;
	margin: 0px 0px 0px 16.877637130801688%;
}

#u417-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	margin-top: 23px;
	position: relative;
	width: 99.58%;
}

#u547
{
	z-index: 29;
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	width: 31.23%;
}

#pbuttonu321
{
	margin-right: -10000px;
	margin-top: 449px;
	width: 16.46%;
	margin-left: 74.66%;
}

#buttonu321
{
	z-index: 31;
	border-color: #787878;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 100%;
}

#buttonu362.ButtonSelected,#buttonu321.ButtonSelected
{
	min-height: 0px;
	width: 100%;
	margin: 6px -10000px 0px 0%;
}

#u296
{
	z-index: 32;
	background-color: transparent;
	position: relative;
	width: 88.61%;
	margin-left: 5.49%;
}

#buttonu321.ButtonSelected #u296
{
	min-height: 0px;
	width: 88.61%;
	margin: 0px 0px 0px 5.485232067510549%;
}

#u414-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-top: 29px;
	position: relative;
	width: 99.58%;
}

#u571
{
	z-index: 38;
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	width: 31.23%;
}

#u289_img,#u303_img,#buttonu362_position_content,#u281_img,#u547_img,#u296_img,#u571_img
{
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


