.row.expanded.profile
    .small-12.large-2.columns
        .profile-pic
            div
                img.center-block(src='assets/images/avatar/avatar.jpg')
        .profile-data
            div
                h5 نویسنده : عباس مقدمی
                hr
                p کارشناس ارشد کنترل  پروژه از دانشگاه اصفهان