.links.margin-xxlarge
    .title
        div
            h5 پیوندها
        hr
    div(ng-repeat='link in LinkViewModel.links')
        a(href='{{link.url}}')
            i.fa.fa-arrow-left
            span {{link.name}}