.add-content
  .row
    .small-12.columns
      p &nbsp;
  .row
    .small-12.large-6.columns
      div
        span عنوان خبر*
        input(type='text', ng-model='AddContentViewModel.content.subject')

    
  
    .small-12.large-4.columns
      div
        span گروه خبر
        select(ng-model='AddContentViewModel.content.categoryId',
        ng-options="category.id as category.name for category in AddContentViewModel.categories")

  .row
    .small-12.large-6.columns
      div
        span برچسب
        tags-input(ng-model="AddContentViewModel.content.labels",style="height:50px", add-on-comma="false")
    .small-12.large-4.columns
      div
        span تاریخ خبر
        adm-dtp(ng-model='AddContentViewModel.content.submitDate', options='{calType: "jalali", format: "YYYY/MM/DD"}')
  .row
    .small-12.large-12.columns
      div
        span خلاصه خبر*
        input(type='text', ng-model="AddContentViewModel.content.highlight")
  .row
    .small-12.large-12.columns
      div
        span متن خبر*
        textarea(ui-tinymce="AddContentViewModel.tinymceOptions", ng-model="AddContentViewModel.content.body", id="editor")
  .row
    .small-12.large-6.columns
      .small-12.large-6.columns
        button.button(type='button', ng-click='AddContentViewModel.save()') ذخیره
      .small-12.large-6.columns
        button.button(type='button', ng-click='') انصراف
