.visitor.margin-xxlarge
    .title
        div
            h5 آمار بازدید
        hr
    .body
        div.color
            i.fa.fa-arrow-left
            small کل بازدید : {{VisitorViewModel.visitors.allViewer}}
        div.color 
            i.fa.fa-arrow-left
            small بازدید امروز : {{VisitorViewModel.visitors.todayViewer}}
        div.color 
            i.fa.fa-arrow-left
            small بازدید دیروز : {{VisitorViewModel.visitors.yesterDayViewer}}
        div.color
            i.fa.fa-arrow-left
            small بازدید این ماه : {{VisitorViewModel.visitors.currentMonthViewer}}
        div.color 
            i.fa.fa-arrow-left
            small بازدید ماه قبل : {{VisitorViewModel.visitors.previousMonthViewer}}
        div.color 
            i.fa.fa-arrow-left
            small تعداد کل پست ها : {{VisitorViewModel.visitors.countNews}}
        div.color 
            i.fa.fa-arrow-left
            small زمان آخرین بازدید : {{VisitorViewModel.visitors.lastView}}
        div.color 
            i.fa.fa-arrow-left
            small زمان آخرین پست : {{VisitorViewModel.visitors.lastEdit}}