.visitor.margin-xxlarge
    .title
        div
            h5 آمار بازدید
        hr
    .body
        div.color
            i.fa.fa-arrow-left
            small کل بازدید : 
        div.color 
            i.fa.fa-arrow-left
            small بازدید امروز : 
        div.color 
            i.fa.fa-arrow-left
            small بازدید دیروز :
        div.color
            i.fa.fa-arrow-left
            small بازدید این ماه :
        div.color 
            i.fa.fa-arrow-left
            small بازدید ماه قبل : 
        div.color 
            i.fa.fa-arrow-left
            small تعداد کل پست ها : 