html(lang="fa" dir="rtl")
  head
    title  برنامه ریزی و کنترل پروژه

    
    script(type="text/javascript", src="/javascripts/head.min.js")


  body.background-light-gray(ng-app="DashboardApplication")
    <div ui-view=""></div>

    script(type="text/javascript", src="/javascripts/libs.min.js")
    script(type="text/javascript", src="/javascripts/dashboard.js")
    script(type="text/javascript", src="/javascripts/common.js")
    script(type="text/javascript", src="http://mihantools.net/tools/stats/index.php?Stat=6675&Border=CCCCCC&BackColor=FFFFFF&TextColor=333333&action=True")
    
    
