html(lang="fa" dir="rtl")
  head
    title  برنامه ریزی و کنترل پروژه
    meta(charset="UTF-8")
    meta(name="keywords", content="عباس مقدسی,برنامه‌ریزی و کنترل پروژه,مدیریت پروژه,اندیشه برتر,abbas moghadasi,AbbasMoghadasi")
    meta(name="description", content="وب سایت اندیشه برتر، راهکارهای مناسبی را برای برنامه ریزی و کنترل پروژه ارائه می‌نماید.")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    script(type="text/javascript", src="/javascripts/head.min.js")


  body.background-light-gray(ng-app="DashboardApplication",style='overflow-x: hidden')
    <div ui-view=""></div>

    script(type="text/javascript", src="/javascripts/libs.min.js")
    script(type="text/javascript", src="/javascripts/dashboard.js")
    script(type="text/javascript", src="/javascripts/common.js")
  
    
    
