html(lang="fa" dir="rtl")
  head
    title  پرتال شرکت نمایشگاه ها / مدیریت کسب و کار

    
    script(type="text/javascript", src="/javascripts/head.min.js")

  body.background-light-gray(ng-app="DashboardApplication")
    <div ui-view=""></div>

    script(type="text/javascript", src="/javascripts/libs.min.js")
    script(type="text/javascript", src="/javascripts/dashboard.js")
    script(type="text/javascript", src="/javascripts/common.js")
    
