.top-area

    .search-bar
        background-color: #fff
    .social-bar
        background-color: #13425C
        color: #fff

        p
            position: relative
            top: 12px
            right: 13%

        i 
            position: relative
            top: 12px
            right: 13%
            margin-left: 15px

        a 
            color: #fff

    .logo-bar
        background-color: #fff

    .input-group
        margin-bottom: 0px
        margin-top: 8px