.top-area
    .row.expanded.social-bar
        .small-12.large-1.columns
            p &nbsp;
        .small-12.large-5.columns
            p
                small به وب سایت اندیشه برتر :: برنامه ریزی و کنترل پروژه : خوش آمدید
        .small-12.large-4.columns
            div.float-left
                a(href='https://www.linkedin.com/in/abbas-moghadasi-38b85183/')
                    i.fa.fa-linkedin
                a(href='https://t.me/AbbassMoghadasi')
                    i.fa.fa-telegram
                a(href='https://www.facebook.com/عباس-مقدسی-750930048335637/?ref=aymt_homepage_panel')
                    i.fa.fa-facebook
                a(href='https://t.me/joinchat/AAAAAApVGtkBUuosh1Pv_w')
                    img.telegram-group(src='assets/images/contact-us/telegramgroup.png')
        .small-12.large-2.columns
            p &nbsp;
    .row.expanded.logo-bar
        .small-12.large-4.columns
            img(src='assets/images/logo/logo-fa.png')
        .small-12.large-5.columns.searchbar
            .small-12.large-6.columns
                    p &nbsp;
            .small-12.large-6.columns
                .input-group
                    input.input-group-field(type='text')
                    span.input-group-label
                        i.fa.fa-search(aria-hidden=true)
        .small-12.large-3.columns
            img(src='assets/images/logo/logo-en.png')
                
    .row
        .small-12.columns
            ul.menu.align-right
                li
                    a( href="#!/dashboard/home") صفحه نخست
                li
                    a(href="#!/dashboard/about") درباره ما
                li
                    a(href="#!/dashboard/contact") تماس با ما
                //- li
                //-     a(href="#/login") ورود