.top-menu
    .row.expanded
        .small-12.columns
            div.search-bar
                h3 اندیشه برتر
    .row
        .small-12.columns
            ul.menu.align-right
                li
                    a( href="#") صفحه نخست
                li
                    a(href="#") درباره ما
                li
                    a(href="#") محصولات
                li
                    a(href="#") گالری تصاویر
                li
                    a(href="#") اخبار
                li
                    a(href="#") تماس با ما