.top-area
    .row.expanded.social-bar
        .small-12.large-1.columns
            p &nbsp;
        .small-12.large-5.columns
            p
                small به وب سایت اندیشه برتر :: برنامه ریزی و کنترل پروژه : خوش آمدید
        .small-12.large-4.columns
            div.float-left
                a(href='https://www.linkedin.com/in/abbas-moghadasi-38b85183/',target="_blank")
                    i.fa.fa-linkedin
                a(href='https://t.me/AbbassMoghadasi',target="_blank")
                    i.fa.fa-telegram
                a(href='https://www.facebook.com/عباس-مقدسی-750930048335637/?ref=aymt_homepage_panel',target="_blank")
                    i.fa.fa-facebook
                a(href='https://t.me/joinchat/AAAAAApVGtkBUuosh1Pv_w',target="_blank")
                    img.telegram-group(src='assets/images/contact-us/telegramgroup.png')
                a(href='http://andyshehbartar.mihanblog.com/',target="_blank")
                    img.weblog(src='assets/images/contact-us/weblog.png')
        .small-12.large-2.columns
            p &nbsp;
    .row.expanded.logo-bar
        a(href="#!/dashboard/home")
            .small-12.large-4.columns
                img(src='assets/images/logo/logo-fa.png')
        .small-12.large-5.columns.search-bar
            .small-12.large-6.columns
                    p &nbsp;
            form(ng-submit="TopMenuViewModel.search(TopMenuViewModel.keyword)")
                .small-12.large-6.columns
                    .input-group
                        input.input-group-field(type='text',ng-model='TopMenuViewModel.keyword')
                        span.input-group-label(ng-click='TopMenuViewModel.search(TopMenuViewModel.keyword)')
                            i.fa.fa-search(aria-hidden=true)
                    input(type="submit",style="position: absolute; left: -9999px")
        a(href="#!/dashboard/home")
            .small-12.large-3.columns
                img(src='assets/images/logo/logo-en.png')
                
    .row
        .small-12.columns
            ul.menu.align-right
                li
                    a(href="#!/dashboard/home",ng-click="TopMenuViewModel.search(undefined)") صفحه نخست
                li
                    a(href="#!/dashboard/about") درباره ما
                li
                    a(href="#!/dashboard/contact") تماس با ما
                li
                    a(href="#!/login") ورود