.chance
  .row
    .small-12.column
      table(border='1')
      thead
        tr.text-center
          th #
          th کد منابع
          th نام شرکت / فروشگاه / کارگاه
          th آخرین پیگیری
          th شیوه آشنایی
          th زمینه های فعالیت
          th نمایه