.edit-content
  .row
    .small-12.columns
      p &nbsp;
  .row
    .small-12.large-6.columns
      table.table.table-striped(st-table='EditContentViewModel.news')
        thead
        tr
          th شناسه
          th عنوان
          th تاریخ
        tbody
        tr(ng-repeat='item in EditContentViewModel.news')
          td {{item.id}}
          td {{item.title}}
          td {{item.datetime}}

  .row
    .small-12.large-6.columns
      .small-12.large-6.columns
        button.button(type='button', ng-click='') ذخیره
      .small-12.large-6.columns
        button.button(type='button', ng-click='') انصراف

     
